# Python
ai-service/venv/
crawler/venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
.DS_Store

# General
node_modules/
.env
.env.local
CP2 Rubrics(1) copy.pdf
CP2_Chapter1_Chapter2_Draft.docx
PS_24038432.pdf
CP2 Rubrics(1).pdf
